@import url('https://fonts.googleapis.com/css2?family=PY+Serif:ital@1&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container{
    display: flex;
    position: relative;
    height: 256px;
    width: 256px;
    justify-content: center;
    align-items: center;
}

.container span{
    position: absolute;
    left: 0;
    width: 33px;
    height: 6px;
    background: #333;
    border-radius: 5px;
    transform-origin: 150px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg/50)));
    animation: animate 2s linear infinite;
    animation-delay: calc(var(--i)*(4s/50));
}

@keyframes animate{
    0%{
        background: rgb(247, 248, 246);
    }
    100%{
        background: #333;
    }
}

.login-box{
    position: absolute;
    width: 400px;
    background: transparent;
}

.login-box form{
    width: 100%;
    padding: 0 50px;
}

h2{
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 25px 0;
}

.login-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    border-radius: 40px;
    transition: .5s ease;
    outline: none;
    padding: 0 20px;
    color: white;
    font-weight: 700;
}

input:focus{
    border-radius: #0ef;
}

input[value]:not([value=""])~label,
input:focus~label{
    top: -10px;
    font-size: 0.8em;
    background-color: #1f293a;
    padding: 0 6px;
    color: #08e;
}

label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s ease;
    color: #fff;
}

.forgot-pass{
    margin: -10px 0 10px;
    text-align: center;
}

.forgot-pass a{
    font-size: 0.95em;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

.btn{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1.5px solid #333;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 900;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
    color: #fff;
}

.btn:hover{
    background: black;
    transition: 0.3s ease-in-out;
}

.signup-link{
    margin: 10px 0;
    text-align: center;
    letter-spacing: 2px;
}

.signup-link a{
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}